.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid grey;
    margin: 0 7.5px 15px;
    cursor: pointer;
    background-position: center;
    background-size: 100% 100%;
    background-position: 0 0;
    transition: background-size 0.5s ease-in;
    

    &.large{
      height: 370px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
    
    &:hover{
      transition: background-size 4s ease;
      background-size: 105% 105%;
      background-position: 5% 5%;
      .content{
        transition:all 0.5s;
        opacity: 0.9;
      }
    }

    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      opacity: 0.6;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }